@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Inter:wght@400;500;600&display=swap");
@import "tailwindcss";

:root {
  /* Brand (warm + appetite) */
  --primary: #ff6b35; /* Spicy orange */
  --primary-hover: #e85a28;

  /* Header / Navbar */
  --header: rgba(255, 107, 53, 0.92);

  /* Secondary (support actions) */
  --secondary: #ffb703;
  --secondary-hover: #e6a400;

  /* Background */
  --background: #fffdf9;
  --surface: #ffffff;

  /* Text */
  --text-primary: #1f1f1f;
  --text-secondary: #6a6a6a;

  /* Accent */
  --accent: #2ec4b6;

  /* Borders / dividers */
  --border: #efe2da;

  /* font */

  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;
}

body {
  font-family: var(--font-body);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

.bg-gradient {
  background: linear-gradient(
    135deg,
    #fff5f0 0%,
    #ffe6dc 30%,
    #ffffff 60%,
    #ffffff 100%
  );
}

.header-gradient {
  background-image: linear-gradient(
    to bottom,
    #ffe7dd,
    #ffe9e0,
    #ffebe3,
    #ffede6,
    #ffefe9
  );
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

* {
  scrollbar-width: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.ride-x {
  animation: rideX 40s infinite ease-in-out;
}

@keyframes rideX {
  0% {
    transform: translateX(0) rotateY(0);
  }

  49% {
    transform: translateX(80vw) rotateY(0);
  }

  50% {
    transform: translateX(80vw) rotateY(180deg);
  }

  100% {
    transform: translateX(0) rotateY(180deg);
  }
}


.ride-phone-x {
  animation: ridePhoneX 40s infinite ease-in-out;
}

@keyframes ridePhoneX {
  0% {
    transform: translateX(0) rotateY(0);
  }

  49% {
    transform: translateX(70vw) rotateY(0);
  }

  50% {
    transform: translateX(70vw) rotateY(180deg);
  }

  100% {
    transform: translateX(0) rotateY(180deg);
  }
}

.ride-full-x {
  animation: rideFullX 20s infinite ease-in-out;
}

@keyframes rideFullX {
  0% {
    transform: translateX(0) rotateY(0);
  }
  49% {
    transform: translateX(90vw) rotateY(0);
  }
  50% {
    transform: translateX(90vw) rotateY(180deg);
  }
  100% {
    transform: translateX(0) rotateY(180deg);
  }
}

@media (max-width: 500px) {
  p {
    font-size: 12px;
  }
}
